/*
poistaa kaikkien elementtien
marginaalit ja paddingit
*/
*{
	padding: 0;
	margin: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/woman.jpg);
    /*background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/woman.jpg); */
    background-position: center;
    background-size: cover;
    position: relative; 


}

nav{
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}

nav img{

    width: 150;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{

    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{

    color: #fff;
    text-decoration: none;
    /*font-size: 13px; */ 
    font-size: 20px;
}

.nav-links ul li::after{

    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{

    width: 100%;
}


.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;

}
.text-box p{
    margin: 10px 0px 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){  /* skaalautuvuus*/
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }

    }

    .harraste{
        width: 80%;
       margin: auto;
       text-align: center;
       padding-top: 100px; 
    }
    h1{
        font-size: 36px;
        font-weight: 600;
    }
    p{
        color: #777;
        font-size: 14;
        font-weight: 300;
        line-height: 22px;
        padding: 10px;
    }
    .row{
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
    }
    .harraste-col{
        flex-basis: 31%;
        background: lightcoral;
        border-radius: 10px;
        margin-bottom: 5%;
        padding: 20px 12px;
        box-sizing: border-box;

    }
    h3{
        text-align: center;
        font-weight: 600;
        margin: 10 px 0;
    }
    .harraste-col:hover{
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    }
    @media(max-width:700px){                                        /*tama korjaa mobiili/tabletti naytoille sopivaksi*/
        .row{
            flex-direction: column;
        }
    }
.cv{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top:  50px;
}
.cv-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.cv-col img{
    width: 100%;
    display: block; /*jos kuvat olisivat saman kokoisia, tama pyoristaisi alareunan*/

}
.layer{
   /* background: rgba(226,0,0,0.7); */
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s; /*viive jolla vari vaihtuu kun kursrilla osoitetaan*/
}
.layer:hover{
    background: rgba(226,0,0,0.7);

}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); /*teksti pomppaa kun kursori osoittaa kuvaa*/
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.yhteys{

    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}
.yhteys-col{
    flex-basis:31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.yhteys-col img{
    width: 100%;
    border-radius: 10px;
}
.yhteys-col p{
    padding: 0;
}
.yhteys-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
.hienoboksi{
    margin:  100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/eyeglasses.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.hienoboksi h1{
    color:#777;
    margin-bottom: 40px;
    padding-left: 0;

}
@media(max-width: 700px){
    .cta h1{
        font-size: 24px;
    }
}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.footer .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

/* mina sivu */
.mina-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/coode.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color:#fff;
    padding: 15px;
    position: relative;         /* Henna H,  CV ja Portfolio   tekstin positio,  keskelle ylä banneria.         */
}

/* GALLERIAN */

div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 50%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    margin:  50px auto;
    padding: 10 10px;
    float: left;
 /* width: 24.99999%;
    height: 24.99999%;
*/
    width: 500px;
    height: 400px;

  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }





/* media scroller */

.media-container {
    position: relative;
  }
  
  .media-scroller,
  .media-group {
    display: grid;
    gap: 0.25rem;
    grid-auto-flow: column;
  }
  
  .media-scroller {
    overflow-x: hidden;
    scroll-behavior: smooth;
    grid-auto-columns: 100%;
    padding: 0 3rem;
    scroll-padding-inline: 3rem;
  }
  
  .media-group {
    position: relative;
    grid-auto-columns: 1fr;
  }
  
  .media-element {
    border-radius: 0.25rem;
    overflow: hidden;
  }
  
  .media-element > img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }
  
  .next,
  .previous {
    display: none;
    align-items: center;
    z-index: 10;
    position: absolute;
    width: 3rem;
    padding: 1rem;
    background: rgb(0 0 0 / 0);
    opacity: 0;
  }
  
  .previous {
    left: 0;
    top: 0;
    bottom: 0;
  }
  
  .next {
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .media-group:first-child :where(.next, .previous) {
    display: flex;
  }
  
  .media-scroller:hover :where(.next, .previous) {
    opacity: 1;
  }
  
  :where(.next, .previous):hover {
    background: rgb(0 0 0 / 0.3);
  }
  
  :where(.next, .previous) > svg {
    transition: transform 75ms linear;
    transform: scale(1);
  }
  :where(.next, .previous):hover > svg {
    transform: scale(1.2);
  }
  
  .media-group:target :where(.next, .previous) {
    display: flex;
  }
  
  .media-scroller:has(:target:not(:first-child))
    .media-group:first-of-type
    .next {
    display: none;
  }